<div class="container">
    <!-- header -->
    <btd-header></btd-header>
    <!-- end header -->
    <!-- menu-navbar -->
    <btd-menu-bar></btd-menu-bar>
    <!-- end menu-navbar -->
    <div class="content">
        <!-- <btd-home-page></btd-home-page> -->
        <router-outlet></router-outlet>
        <!-- <btd-post-detail></btd-post-detail> -->
        <div class="content-right">
            <div class="follow-email">
                <div class="follow-email-content">
                    <h3 class="title">
                        Follow by Email
                    </h3>
                    <span class="before-text">Get all latest content delivered straight to your inbox.</span>
                    <input placeholder="Email Address" />
                    <button>Subscribes</button>
                </div>
            </div>
            <div class="wrap-content">
                <div class="popular-post">
                    <span>Popular post</span>
                </div>
                <div class="introduce-post">
                    <div id="post-content">
                        <img src="../assets/image/aircraft-1183171_960_720.jpg" />
                    </div>
                    <div id="title-post">
                        <h4>Small bridge and a beautiful view of the beach</h4>
                        <p>August 23, 2016</p>
                    </div>
                </div>
                <div class="introduce-post">
                    <div id="post-content">
                        <img src="../assets/image/girl-984155_960_720.jpg" />
                    </div>
                    <div id="title-post">
                        <h4>Small bridge and a beautiful view of the beach</h4>
                        <p>August 23, 2016</p>
                    </div>
                </div>
                <div class="introduce-post">
                    <div id="post-content">
                        <img src="../assets/image/woman-1150067_960_720.jpg" />
                    </div>
                    <div id="title-post">
                        <h4>Small bridge and a beautiful view of the beach</h4>
                        <p>August 23, 2016</p>
                    </div>
                </div>
            </div>
            <div class="wrap-content">
                <div class="popular-post fan-page">
                    <span>Facebook</span>
                </div>
            </div>
            <div class="wrap-content">
                <div class="popular-post categories">
                    <span>Category</span>
                </div>
                <div class="list-categories">
                    <ul class="list-item-categoris">
                        <li id="first-item" (click)="onClickCategory()">Business<span class="label-count">(5)</span>
                        </li>
                        <li>Photograph<span class="label-count">(5)</span></li>
                        <li>Sport<span class="label-count">(5)</span></li>
                        <li>Technology<span class="label-count">(5)</span></li>
                    </ul>
                </div>
            </div>
            <div class="wrap-content">
                <div class="popular-post tags">
                    <span>Tags</span>
                </div>
                <div class="list-tags">
                    <ul class="list-item-tags">
                        <li><a>Business</a></li>
                        <li><a>Photograph</a></li>
                        <li><a>Sport </a></li>
                        <li><a>Business</a></li>
                        <li><a>Photograph</a></li>
                        <li><a>Sport </a></li>
                        <li><a>Technology</a></li>
                        <li><a>Business</a></li>
                        <li><a>Photograph</a></li>
                        <li><a>Sport </a></li>
                        <li><a>Business</a></li>
                        <li><a>Photograph</a></li>
                        <li><a>Sport </a></li>
                        <li><a>Technology</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div style="height: 200px; background: #111111; margin-top: 30px">

    </div>
</div>
<btd-login></btd-login>

