.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}

.follow-email {
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
    position: relative;
    margin-bottom: 35px;
}

.follow-email-content {
    padding: 20px;
}

.follow-email-content h3 {
    margin: 0;
    text-align: center;
    color: #171717;
    font-weight: 700;
    margin: 0 0 13px;
    font-family: 'Merriweather', Georgia, serif;
}

.follow-email-content span {
    font-size: 14px;
    line-height: 1.5em;
    margin: 0 0 15px;
    display: block;
    font-family: 'Merriweather', Georgia, serif;
    overflow: hidden;
    text-align: center;
}

.follow-email-content input {
    width: 100%;
    height: 32px;
    color: #171717;
    font-size: 13px;
    font-family: inherit;
    padding: 0 10px;
    margin: 0 0 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    transition: ease .17s;
    font: 400 13.3333px Arial;
}

.follow-email-content button {
    width: 100%;
    height: 32px;
    font-family: inherit;
    font-size: 11px;
    color: #fff;
    background-color: #59ed89;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
    border: 0;
    font: 400 13.3333px Arial;
}

.follow-email-content button:hover {
    background-color: #111111;
}

.follow-email-content {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    height: auto;
    flex: 1;
    flex-basis: auto;
}

.content-right {
    display: flex;
    flex-direction: column;
    width: 22%;
    position: relative;
    height: 100%;
}

.popular-post {
    width: 100%;
    background-color: #f8f8f8;
    border: 1px solid #ebebeb;
    height: 32px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-post span {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #171717;
    font-weight: 600;
}

.introduce-post {
    display: flex;
    margin-bottom: 20px;
}

#post-content img {
    width: 80px;
    height: 65px;
}

#title-post {
    margin-left: 10px;
}

#title-post h4:hover {
    color: #59ed89;
}

#post-content img:hover {
    opacity: 0.9;
}

#title-post h4 {
    margin: 0;
    font-family: 'Merriweather', Georgia, serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.6em;
}

#title-post p {
    margin: 0;
    margin-top: 10px;
    color: #aaa;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.fan-page {
    margin-top: 0px;
}

.categories {
    margin-top: 0px;
}

.tags {
    margin-top: 0px;
}

.list-item-categoris li {
    text-decoration: none;
    border-top: 1px dotted #ebebeb;
    color: #656565;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 6px 5px 0 0;
    transition: color .17s;
    font-size: 13px;
    padding-top: 8px;
}

.list-item-categoris li:hover {
    color: #59ed89;
}

.list-item-categoris li:before {
    border-right: 2px solid #656565;
    border-bottom: 2px solid #656565;
    width: 3px;
    height: 3px;
    transform: rotate(-45deg);
    content: "";
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 3px;
}

.list-item-categoris {
    list-style-type: none;
    padding-left: 0px;
    margin: 0 0 20px 0;
}

.label-count {
    float: right;
}

#first-item {
    border-top: none;
    padding-top: 0px;
}

.list-item-tags li {
    display: inline;
}

.list-item-tags a:hover {
    background-color: #59ed89;
    color: #fff;
}

.list-item-tags a {
    float: left;
    margin: 0 5px 5px 0;
    background-color: #f2f2f2;
    color: #171717;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    padding: 0px 10px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
}

.list-item-tags {
    padding: 0;
    margin: 0;
}


.wrap-content {
    padding-top: 10px;
}

/* Reponsive screen > 649px to 899px */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .content {
        flex-direction: column;
        width: 100%;
    }
    .content-right {
        width: auto;
        flex-direction: column-reverse;
        padding: 0 20px 0 20px;
    }
}

/* Reponsive screen < 649px */

@media only screen and (max-width: 767px) {
    .content {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    .content-right {
        width: auto;
        flex: 1;
        padding: 0 10px 0 10px;
        flex-direction: column-reverse;
        margin: auto;
    }
    .item-list-post {
        flex-direction: column;
    }
    .item-image {
        width: auto;
        height: auto;
    }
}