.content-left {
    display: flex;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;    
}

.post-slider {
    width: 630px;
    height: 380px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.post-silder-content {
    /* left: -630px; */
    position: absolute;
    overflow: hidden;
    display: flex;
    /* transition-duration: 2s; */
}

.list-posts {
    display: block;
    margin-top: 30px;
}

.post-image {
    cursor: pointer;
    height: 380px;
    width: 630px;
    display: block;
    flex-shrink: 0;
    position: relative;
}

.item-list-post {
    display: flex;   
    flex-direction: row; 
    margin-bottom: 20px;
}

.item-content {
    display: flex;
    flex-direction: column;
    width: 342px;
    padding-left: 15px;
}

.item-content button{
    height: 32px;
    font-family: inherit;
    font-size: 11px;
    color: #fff;
    background-color: #59ed89;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
    border: 0;
    font: 400 13.3333px Arial;
    margin: 15px 0 0;
    border-radius: 2px;
    width: 100px;
    font-family: 'Open Sans',sans-serif;
}

.item-image {
    width: 270px;
    height: 190px;
}

.item-image img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.item-title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6em;
    margin: 0;
    font-family: 'Merriweather',Georgia,serif;
}

#item-info {
    display: flex;
    color: #aaa;
    margin-top: 10px;
}

#item-info p {
    margin: 0;
    margin-top: 3px;
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Open Sans',sans-serif;
}

#item-info-time {
    padding-left: 10px;
}

.item-introduce {
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.6em;
    font-weight: 400;
    margin: 7px 0 0;
    color: #656565;
    font-family: 'Open Sans',sans-serif;
}

.post-image img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s;
}

.post-image span {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 18px;
    z-index: 5;
    background-color: #59ed89;
    color: #fff;
    font-size: 10px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 7px;
    border-radius: 2px;
}

.post-image img:hover{
    transform: scale(1.1);
    opacity: .9;
}

.post-info {
    border-bottom: 0.5px solid #fff;
}


.post-image-info {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.post-info {
    border-bottom: 0.5px solid #fff;
}

.post-info h2 {
    font-family: 'Merriweather',Georgia,serif;
    color: #fff;
    font-family: 'Merriweather',Georgia,serif;
    font-size: 20px;
    overflow: hidden;
}

.post-meta {
    width: 100%;
}

.post-meta a {
    color: #aaa;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 15px;
    /* font-family: 'Open Sans',sans-serif; */
}


.post-meta-timer {
    padding-left: 10px;
    padding-top: 15px;
}

#title-post {
    margin-left: 10px;
}

#post-content img:hover {
    opacity: 0.9;
}

#title-post h4{
    margin: 0;
    font-family: 'Merriweather',Georgia,serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.6em;
}

#title-post p{
    margin: 0;
    margin-top: 10px;
    color: #aaa;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;    
    font-family: 'Open Sans',sans-serif;
}




/* Reponsive screen > 649px to 899px */

@media only screen and (min-width: 650px) and (max-width: 899px) {
      .content-left {
        padding: 0;
        margin: auto;
    }

    .post {
        padding: 0;
        margin: auto;
    }  
}

/* Reponsive screen < 649px */

@media only screen and (max-width: 649px) {
    .post {
      padding: 0 10px 0 10px;
    }

    .post-silder-content {
        position: relative;
    }

    .post-image {
        width: 100%;
        height: auto;
    }

    .post-slider {
        width: 100%;
        height: auto;
    }

    .post-info h2 {
        font-size: 16px;
    }

    .item-list-post {
        flex-direction: column;
    }

    .item-image {
        width: auto;
        height: auto;
    }

    .item-content {
        width: auto;
        padding-left: 5px;
    }    
}