<div class="content-left">
    <div class="post">
        <div class="post-slider">
            <div class="post-silder-content" #slidersView>
                <div class="post-image">
                    <img src="../assets/image/girl-984155_960_720.jpg" atl="1" />
                    <span>Game</span>
                    <div class="post-image-info">
                        <div class="post-info">
                            <h2>
                                Girl play with fireworks in nature
                            </h2>
                        </div>
                        <div class="post-meta">
                            <a class="fa fa-user"> Templates Yard</a>
                            <a class="post-meta-timer"> March 17, 2016</a>
                        </div>
                    </div>
                </div>
                <div class="post-image">
                    <img src="../assets/image/aircraft-1183171_960_720.jpg" atl="2" />
                    <span>Game</span>
                    <div class="post-image-info">
                        <div class="post-info">
                            <h2>
                                Girl play with fireworks in nature
                            </h2>
                        </div>
                        <div class="post-meta">
                            <a class="fa fa-user"> Templates Yard</a>
                            <a class="post-meta-timer"> March 17, 2016</a>
                        </div>
                    </div>
                </div>
                <div class="post-image">
                    <img src="../assets/image/visualstudio-696x346.png" atl="3" />
                    <span>Game</span>
                    <div class="post-image-info">
                        <div class="post-info">
                            <h2>
                                Girl play with fireworks in nature
                            </h2>
                        </div>
                        <div class="post-meta">
                            <a class="fa fa-user"> Templates Yard</a>
                            <a class="post-meta-timer"> March 17, 2016</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-posts">
            <div class="item-list-post">
                <div class="item-image">
                    <img src="../assets/image/item1.jpg" />
                </div>
                <div class="item-content">
                    <p class="item-title">Small bridge and a beautiful view of the beach</p>
                    <div id="item-info">
                        <span class="fa fa-user"></span>
                        <p>Admin</p>
                        <span class="fa fa-clock-o" id="item-info-time"></span>
                        <p>August 23, 2016</p>
                    </div>
                    <p class="item-introduce">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lor…</p>
                    <button>Read more</button>
                </div>
            </div>
            <div class="item-list-post">
                <div class="item-image">
                    <img src="../assets/image/woman-1150067_960_720.jpg" />
                </div>
                <div class="item-content">
                    <p class="item-title">Elegant woman in front of a waterfall</p>
                    <div id="item-info">
                        <span class="fa fa-user"></span>
                        <p>Admin</p>
                        <span class="fa fa-clock-o" id="item-info-time"></span>
                        <p>August 23, 2016</p>
                    </div>
                    <p class="item-introduce">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lor…</p>
                    <button>Read more</button>
                </div>
            </div>
            <div class="item-list-post">
                <div class="item-image">
                    <img src="../assets/image/item2.jpg" />
                </div>
                <div class="item-content">
                    <p class="item-title">Left sidebar post</p>
                    <div id="item-info">
                        <span class="fa fa-user"></span>
                        <p>Admin</p>
                        <span class="fa fa-clock-o" id="item-info-time"></span>
                        <p>August 23, 2016</p>
                    </div>
                    <p class="item-introduce">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lor…</p>
                    <button>Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>