<div class="header">
    <div class="header-content">
        <div class="header-content-left">
            <p>My Project</p>
        </div>
        <div class="header-content-right">
            <div class="header-name">
                <!-- <p>Login</p> -->
                <p><span>Thiên Đình</span></p>
            </div>
            <div class="header-icon" #insidePopup>
                <a id="header-icon-setting" (click)="onClickEvent()"><i class="fa fa-cog" aria-hidden="true"></i></a>
                <div class="header-popup" *ngIf="isDisplayPopup">
                    <ul>
                        <li><i class="fa fa-user-o" aria-hidden="true"></i>Thông tin</li>
                        <li><i class="fa fa-comment-o" aria-hidden="true"></i>Tin nhắn</li>
                        <li><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>