<div class="post-detail">
    <div class="post-detail-link">
        <a (click)="onClickEvent()">
            Home <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a>
            Post <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a id="title-post">
            Girl play with fireworks in nature
        </a>
    </div>
    <div class="post-detail-title">
        <h2> Girl play with fireworks in nature</h2>
        <div id="post-detail-info">
            <span><i class="fa fa-user"></i>Author</span>
            <span><i class="fa fa-clock-o"></i>March 17, 2016</span>
        </div>
    </div>
    <div class="post-detail-content">
        <div class="post-detail-media">
            <img src="../assets/image/girl-984155_960_720.jpg" atl="1" />
        </div>
        <div class="post-detail-text">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book
            </p>
            <p id="post-detail-text-high-light">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="post-detail-media">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QGJuMBdaqIw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="post-detail-text">
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English.

                It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to
                generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from
                repetition, injected humour, or non-characteristic words etc.

                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                embarrassing hidden in the middle of text.
            </p>
        </div>
        <div class="post-detail-download">
            <div>
                <p>Link dowload:</p>
                <a>https://coursetro.com/posts/code/59/Angular-4-Event-Binding</a>
            </div>
            <div>
                <p>Link dự phòng:</p>
                <a>https://coursetro.com/posts/code/59/Angular-4-Event-Binding</a>
            </div>
        </div>
    </div>
    <div class="post-tags">
        <button>
            Tags
        </button>
        <button>
            Fashion
        </button>
        <button>
            Nature
        </button>
        <button>
            People
        </button>
    </div>
    <div class="post-share">
        <button id="post-share-facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </button>
        <button id="post-share-twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </button>
        <button id="post-share-google">
            <i class="fa fa-google" aria-hidden="true"></i>
        </button>
        <button id="post-share-envelope">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </button>
    </div>
</div>