@import '../../assets/variable/variable.scss';

.login-content {
    display: flex;
    flex: 1;
    position: fixed;
    background-color: map-get($colors, popup);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;

    .form-login{
        background-color: aliceblue;
        width: 500px;
        height: 500px;
    }
}